<div class="container-fluid">
    <div class="form">
        <h1 class="heading">ログイン</h1>
        <%= form_tag("/login") do %>
        <div class="form-body">
            <% if @error_message %>
                <div class="error-message">
                    <%= @error_message %>
                </div>
            <% end %>
            <p>メールアドレス</p>
            <input name="email" type="email" value="<%= @email %>">
            <p>パスワード</p>
            <input name="password" type="password" value="<%= @password %>">
            <input type="submit" value="ログイン">
        </div>
        <% end %>
    </div>
</div>